@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body{
    background: #0F0F10;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "JetBrains Mono", monospace;
    
}
.box{
    background:#2C2C2D;
    height: 600px;
    width: 410px;
    border-radius: 20px;
    margin-top: 130px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.50);

}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.50);
}
.subtext{
    margin-left: 108px;
    margin-bottom:25px;
}
h1{
    color:#ffffff;
    font-size: 30px;
    margin-bottom: 5px;
}
h2{
    color: #BDF61F;
    font-size: 15px;
    margin-top: 0;
    margin-left: 2px;
}
h3{
    color: #BBBCBA;
    font-size: 15px;
    margin-left: 100px;
}
.buttons{
    margin-top:25px;
    margin-left: 55px;
}
button{
    background: #444445;
    border: none;
    width: 300px;
    height:43px;
    margin: 10px;
    margin-left: 4px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.30);
}
a{
    color: #ffffff;
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
}